*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {

    display: grid;
    grid-gap: 20px 40px;
    background-image: url(../images/60f05965972a4.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    
}

header, footer {
    grid-column: 1 / -1;
    text-align: center;
    
}

header {
    
    display: flex;
    backdrop-filter: blur(4px);
    top: 0;
    left: 0;
    width: 100%;
    background-attachment: fixed;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .7);
    justify-content: space-between;
    align-items: center;
    max-height: 150px;
    border-bottom: #fff;
    
}   
    .Logo {
        position: relative;
        max-width: 120px;
        margin: 30px 30px 30px 45px;
    }
     .navigation ul {
        display: flex;
        list-style: none;
        padding-right: 45px;
    }

            .navigation ul li a {
                color: #fff;
                text-decoration: none;
                margin-left: 45px;
                font-weight: bolder;
                font-family: 'Titillium Web';
                }
.main {
    
    width: 85%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    margin: 0 auto;
    backdrop-filter: blur(8px);

    
}
.teams {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
}
.teams img {
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.details {
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr;
}
h5 {
    font-size: 18px;
    text-align: left;
    color: #fff;
}

H1 {
    grid-column: 1 / -1;
    font-size: 20px;
    text-align: center;
    background-color: rgb(70, 70, 70);
    width: 85%;
    margin: 0 auto;
    color: #fff;
}

.footer {
    width: 100%;
    backdrop-filter: blur(4px);
    text-align: center;
}

    .media-solo {
        
        display: flex;
        
    }
        .media-solo h2{
            padding-left: 10px;
        }
    .media-y-h {
        
        display: flex;
        color: #fff;
        justify-content: space-between;
        align-items: center;
        margin: 7px;
        
    }

        .icons {
            max-width: 23px;
            max-height: 23px;
            margin-left: 5px;
        }

        .h3-2{
            padding-right: 10px;
        }
